{% extends 'base.html.twig' %}

{% block body %}
    <h1>People list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Mail</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                <td>{{ person.firstname }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.mail }}</td>
                <td>{{ person.password }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': person.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': person.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new person</a>
        </li>
    </ul>
{% endblock %}
